*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Mulish';
    font-style: normal;
    color: #A4A6B3;
    letter-spacing: 0.3px;
}

h1{
    font-family: 'Mulish';
    font-style: normal;
    letter-spacing: 0.3px;
    color: #252733;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

body{
    background-color: #363740;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  
}

.container{
    width: 380px;
    height: 582px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px; 
    margin: auto;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
}

.logo{
    flex-direction: column;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.logo p{
    height: 24px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
}

.guide{
    flex-direction: column;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.guide p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

form{
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
}

.form_item{
    height: 64px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.form_item div{
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.form_item div img{
    position: absolute;
    Top: 33px;
    Left: 280px;
    cursor: pointer;
}

.form_item div a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.1px;
    text-decoration: none;
    color: #9FA2B4;
}

input{
    height: 42px;
    width: 100%;
    background: #FCFDFE;
    border: 1px solid #F0F1F7;
    border-radius: 8px;
    padding: 11px 44px 11px 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #9FA2B4; 
}

.form_button{
    background-color: #3751FF;
    height: 48px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 0;
    cursor: pointer;
}

.signup{
    justify-content: center;
}

.signup p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.signup a{
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #3751FF;
}







